site_name: Arista Campus Workshop
site_description: Arista Campus Workshop
watch: ["docs", "mkdocs.yml"]

nav:
    - Home:
        - Welcome: index.md
        - Lab Access: lab/access.md
    #- Lab Guides:
    - Wired Lab Guides:
        - Explore EOS: a_wired/a01_lab.md
        - Day 1 Operations: a_wired/a02_lab.md
        - Day 2 Operations: a_wired/a03_lab.md
        - Operations and Monitoring: a_wired/a04_lab.md
    - Wireless Lab Guides:
        - Wireless Setup: b_wireless/b01_lab.md
        - Troubleshooting Wifi: b_wireless/b02_lab.md
        - Guest Wifi with AGNI: b_wireless/b03_lab.md
        - Smart System Upgrade: b_wireless/b04_lab.md
    - Security Lab Guides:
        - EAP-TLS Wireless Policy: c_security/c01_lab.md
        - UPSK Wireless Policy: c_security/c02_lab.md
        - EAP-TLS Wired Policy: c_security/c03_lab.md
    - References:
        - Wired:
            - Interface Diagnostics: references/interface_diag.md
            - AGNI Tacacs: references/agni_tacacs.md
        - Wireless:
            - Onboarding Wifi Devices: references/wireless_onboard.md
            - Configuring Radius: references/radius.md
            - Configuring RadSec: references/radsec.md
            - Guest AP Tunnel: references/l2tunnel.md
            - WIPS: references/wips.md
        #- Wireless Captive Portal: references/captive_portal.md
        - Arista Configuration Tools: references/config_tools.md

copyright: Copyright &copy; 2025 Arista Networks

extra:
    social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/AristaNetworks
    - icon: fontawesome/solid/globe
      link: https://www.arista.com
    version:
        provider: mike
theme:
    name: material
    custom_dir: docs/overrides
    highlightjs: true
    hljs_languages:
        - yaml

    features:
        - content.code.annotate
        - content.code.copy
        - content.tabs.link
        - content.tooltips
        - header.autohide
        - navigation.path
        - navigation.top
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.tracking
        # - tables
        - toc.follow
        # - toc.integrate

    favicon: assets/logo.png

    font:
        text: Roboto
        code: Fira Mono

    language: en

    logo: assets/logo.png

    palette:
    # Palette toggle for light mode
        - scheme: default
          primary: custom
          toggle:
            icon: material/weather-night
            name: Switch to dark mode

    # Palette toggle for dark mode
        - scheme: slate
          primary: custom
          toggle:
            icon: material/weather-sunny
            name: Switch to light mode

markdown_extensions:
    - abbr
    - admonition
    - attr_list
    - def_list
    - footnotes
    - md_in_html
    - pymdownx.arithmatex
    - pymdownx.caret
    - pymdownx.critic
    - pymdownx.details
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg
        options:
          custom_icons:
            - overrides/.icons/
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.keys
    - pymdownx.mark
    - pymdownx.smartsymbols
    - pymdownx.snippets
    - pymdownx.superfences
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.tasklist:
        custom_checkbox: true
    - pymdownx.arithmatex:
        generic: true
    - pymdownx.tilde
    - tables
    - toc:
        permalink: true
        toc_depth: 3

plugins:
    - git-revision-date
    - glightbox
    - search:
        lang: en
    # - mike:
    #     alias_type: redirect
    # - print-site:
    #     path_to_pdf: "print_page"

extra_css:
    - stylesheets/extra.css
