---
- name: Configuration deployment
  hosts: "{{ target_hosts }}"
  connection: local
  gather_facts: false
  tasks:
    
    - name: build config from structured configs
      tags: [build, generate]
      ansible.builtin.import_role:
        name: arista.avd.eos_cli_config_gen
    
    - name: Deploy configurations and tags to CloudVision
      ansible.builtin.import_role:
        name: arista.avd.cv_deploy
      vars:
        cv_server: "{{ lookup('env', 'CV_SERVER') }}"
        cv_token: "{{ lookup('file', '../act/tokens/act-cv.tok') }}"
        cv_verify_certs: false
        cv_configlet_name_template: "AVD_${hostname}"
