---

- name: validate states on EOS devices
  hosts: "{{ target_hosts }}"
  connection: httpapi
  gather_facts: false
  collections:
    - arista.avd

  vars:
    ansible_user: cvpadmin
    ansible_password: cvp123!

  tasks:

    - name: validate states on EOS devices
      ansible.builtin.import_role:
        name: arista.avd.eos_validate_state
      vars:
        use_anta: true
        save_catalog: true
        skipped_tests: 
          - category: AvdTestP2PIPReachability
