:root > * {
  --md-primary-fg-color:        #16325B;
  --md-typeset-a-color:          #d47122;
}

.md-grid {
  max-width: 1440px; 
}
/* .md-content img {
    border-width: 1px;
    border-style: solid;
    border-color: black;
  } */

/* .highlight.no-copy .md-clipboard { display: none; } */
