---
fabric_name: ATD_LAB

design:
  type: l2ls

mgmt_interface: Vlan1
mgmt_interface_vrf: default
mgmt_interface_description: "*** MGMT INTERFACE ***"

# Spine Switches
l3spine:
  defaults:
    platform: 7280SR-48C6
    loopback_ipv4_pool: 192.168.254.0/24
    vtep_loopback_ipv4_pool: 192.168.255.0/24
    spanning_tree_mode: mstp
    filter:
      tenants: [ lab ]
  nodes:
    - name: core-7280SR-48C6
      id: 1
      mgmt_ip: 192.168.3.2/24

leaf:
  defaults:
    platform: 710P-16P
    spanning_tree_mode: mstp
    uplink_switches: [ core-7280SR-48C6 ]
    uplink_interfaces: [ Ethernet18 ]
    filter:
      tenants: [ atd_lab ]
  nodes:
    - name: 710p-01
      id: 1
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet1 ]
    - name: 710p-02
      id: 2
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet3 ]
    - name: 710p-03
      id: 3
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet5 ]
    - name: 710p-04
      id: 4
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet7 ]
    - name: 710p-05
      id: 5
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet9 ]
    - name: 710p-06
      id: 6
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet11 ]
    - name: 710p-07
      id: 7
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet13 ]
    - name: 710p-08
      id: 8
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet15 ]
    - name: 710p-09
      id: 9
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet17 ]
    - name: 710p-10
      id: 10
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet19 ]
    - name: 710p-11
      id: 11
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet25 ]
    - name: 710p-12
      id: 12
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet27 ]
    - name: 710p-13
      id: 13
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet29 ]
    - name: 710p-14
      id: 14
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet31 ]
    - name: 710p-15
      id: 15
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet33 ]
    - name: 710p-16
      id: 16
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet35 ]
    - name: 710p-17
      id: 17
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet37 ]
    - name: 710p-18
      id: 18
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet39 ]
    - name: 710p-19
      id: 19
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet41 ]
    - name: 710p-20
      id: 20
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet43 ]
    - name: 710p-24
      id: 24
      mgmt_ip: 192.168.3.{{ atd_vlan }}/24
      uplink_switch_interfaces: [ Ethernet47 ]