{% if csc_cloud_gateway %}
{%  for daemon in cloud_gateway %}
daemon {{ daemon.name }}
    exec {{ daemon.exec }}
    option {{ daemon.option[0] }} value {{ daemon.option[1] }}
{%      if daemon.enabled %}
    no shutdown
{%-     else %}
    shutdown
{%-      endif %}
{%  endfor %}
{% endif %}